{{ ansible_managed | comment }}

{% set oh_my_zsh = user.oh_my_zsh|default({}) %}

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

## EDITOR CONFIG ##
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='nvim'
else
  export EDITOR='vim'
fi

## SHH AGENT CONFIG ##
export key_file=~/.ssh/id_rsa
ssh-add >/dev/null 2>&1

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="{{ oh_my_zsh.theme | default(oh_my_zsh_theme) }}"

#Use case-sensitive completion.
CASE_SENSITIVE="false"

{% if 'auto' == oh_my_zsh.update_mode | default(oh_my_zsh_update_mode) %}
# Update automatically without asking
zstyle ':omz:update' mode auto
{% elif 'reminder' == oh_my_zsh.update_mode | default(oh_my_zsh_update_mode) %}
# Just remind me to update when it's time
zstyle ':omz:update' mode reminder
{% else %}
# Disable automatic updates
zstyle ':omz:update' mode disabled
{% endif %}

# How often to auto-update (in days).
{% if 'disabled' != oh_my_zsh.update_mode | default(oh_my_zsh_update_mode) %}
zstyle ':omz:update' frequency {{ oh_my_zsh.update_frequency | default(oh_my_zsh_update_frequency) }}
{% else %}
# zstyle ':omz:update' frequency {{ oh_my_zsh.update_frequency | default(oh_my_zsh_update_frequency) }}
{% endif %}

# display red dots whilst waiting for completion.
export COMPLETION_WAITING_DOTS="true"

ulimit -S -n 8192

# Disable colors in ls.
DISABLE_LS_COLORS="false"

# Disable auto-setting terminal title.
DISABLE_AUTO_TITLE="false"

# Enable command auto-correction.
ENABLE_CORRECTION="false"

# Which plugins would you like to load?
# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=({{ oh_my_zsh.plugins | default(oh_my_zsh_plugins) | join(' ') }})

## INCLUDES ##
# TODO: move these to the zsh custom folder
source "$HOME/.alias"   # alias functions
source "$HOME/.exports"  # env exports
source "$HOME/.secrets"   # env secrets
source "$HOME/.functions" # env functions
source "$HOME/.grep" # env grep#

## RUBY ENVIRONMENT ##
# source /usr/local/share/chruby/chruby.sh # load chruby
# source /usr/local/share/chruby/auto.sh # enable auto-switching
# chruby ruby-3 # set the default ruby for my environment

source $ZSH/oh-my-zsh.sh

# https://starship.rs
eval "$(starship init zsh)"
